<%= form_for@terrain, html: {multipart: true} do |f| %>
  <% if @terrain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terrain.errors.count, "error") %> prohibited this terrain from being saved:</h2>

      <ul>
      <% @terrain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field:image, class:"form-control" %>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
