<div class="jumbotron">
<h1>Terrains disponibles</h1>
</div>

<%= link_to 'New Terrain', new_terrain_path, class: 'btn btn-danger' %><br/>


<div id="terrains" class="transitions-enabled">
  <% @terrains.each do |terrain| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(terrain.image.url(:medium)), terrain %>
      <div class="panel-body">
        <%= terrain.name %><br/>

      <% if can? :edit, terrain %>
          <div class="actions">
            <%= link_to edit_terrain_path(terrain) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
      <%end%>
      <% if can? :destroy, terrain %>
            <%= link_to terrain, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Destroy
            <% end %>
          </div>
        <% end %>



      </div>
    </div>
  <% end %>
</div>
