<div class="container-fluid">
    <section class="summary-field-section">
        <div class="container">  
            <div class="col-lg-8 sm-padding-top xs-padding-bottom">
                <div class="row">
                    <div class="col-sm-2">
                        <%= image_tag("fields/fields/urban-soccer-logo.png", class:"field-logo") %>
                    </div>
                    <div class="col-sm-10">
                        <h2>Urban Soccer</h2>
                        <p>14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</p>
                        <div class="row">
                            <div class="col-sm-3 col-xs-4 text-center">
                                <%= image_tag("flat-icon/trophy.png", class:"field-type-icon") %>
                                <p>1 terrain prestige</p>
                            </div>
                            <div class="col-sm-4 col-xs-4 text-center">
                                <%= image_tag("flat-icon/camera.png", class:"field-type-icon") %>
                                <p>3 terrains avec caméra</p>
                            </div>
                            <div class="col-sm-3 col-xs-4 text-center">
                                <%= image_tag("flat-icon/soccer-ball.png", class:"field-type-icon") %>
                                <p>8 terrains normaux</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 no-padding">
                <div class="book-box" id="book-box">
                    <form>
                        <label class="icon-calendar booking-input">
                            <input type="text" id="datepicker" class="book-box-datepicker" name="datepicker" placeholder="Date" />
                        </label>
                        <label class="icon-clock booking-input sm-margin-top">
                            <input type="text" id="timepicker" class="book-box-timepicker" name="timepicker" placeholder="Horaire" />
                        </label>
                        <label class="select-field sm-margin-top"> 
                            <select class="book-box-select-field">
                                <option value="normal">Terrain normal</option>
                                <option value="camera">Terrain avec caméra</option>
                                <option value="prestige">Terrain prestige</option>
                            </select>
                        </label>
                        <h3><b>8€ par joueur</b></h3>
                        <p>(8€ x 10 joueurs = 80€)</p>
                        <button id="submit-location" type="submit" class="btn-lg btn-book btn-block sm-margin-top"><i class="fa fa-bolt"></i>&nbsp;&nbsp;Réservation instantannée 8€</button>
                    </form>
                </div>

                <div class="booking-bar-responsive-container" id="booking-bar-responsive">
                    <div class="booking-bar-responsive">
                        <span><i class="fa fa-bolt"></i>&nbsp;&nbsp;Réservation instantannée</span>
                    </div>
                </div>

                <div class="booking-modal">
                    <div class="booking-modal-header">
                        <button id="close-booking-modal" class="close"><span>&times;</span></button>
                        <h4 class="modal-title text-center">Réservation instantannée</h4>
                    </div>
                    <div class="modal-body">
                        <%= image_tag("fields/fields/urban-soccer-logo.png", class:"field-logo sm-margin-top") %>
                        <h2 class="text-center">Urban Soccer</h2>
                        <p class="text-center">14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</p>

                        <div class="booking-form-responsive">
                            <form>
                                <div class="row">
                                    <label class="sm-margin-top">
                                        <input type="text" id="datepicker-responsive" class="search-bar-datetimepicker-responsive" name="datepicker" placeholder="Date" />
                                    </label>
                                    <label class="sm-margin-top">
                                        <input type="text" id="timepicker-responsive" class="search-bar-datetimepicker-responsive xs-margin-left" name="timepicker" placeholder="Horaire" />
                                    </label>
                                </div>
                                <label class="select-field">
                                    <select class="book-box-select-field">
                                        <option value="normal">Terrain normal</option>
                                        <option value="camera">Terrain avec caméra</option>
                                        <option value="prestige">Terrain prestige</option>
                                    </select>
                                </label>
                                <button id="submit-location" type="submit" class="btn-lg btn-block btn-booking-responsive sm-margin-top"><i class="fa fa-bolt"></i>&nbsp;&nbsp;Réserver maintenant</button>
                            </form>
                        </div>
                    </div><!-- End modal body -->
                </div><!-- End modal -->
            </div><!-- End col-lg-4 -->
        </div> <!-- End container -->
    </section>
    <section class="field-description">
        <div class="container">
            <div class="col-lg-8">  
                <%= image_tag("fields/fields/urban-soccer-field-main.jpg", class:"img-thumbnail-field-main no-border-top") %>
                <div class="row no-margin">    
                    <div class="col-xs-4 no-padding">
                        <%= image_tag("fields/fields/urban-soccer-field-thumb1.jpg", class:"img-responsive img-thumbnail-field") %>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <%= image_tag("fields/fields/urban-soccer-field-thumb2.jpg", class:"img-responsive img-thumbnail-field") %>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <%= image_tag("fields/fields/urban-soccer-field-thumb3.jpg", class:"img-responsive img-thumbnail-field") %>
                    </div>
                </div>
                <h3 class="md-margin-top sm-margin-bottom">À propos de ce centre</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo sem dapibus viverra sodales. Aliquam suscipit arcu mi, at vulputate tortor posuere nec. Duis ultricies vestibulum lorem, nec mollis massa iaculis id. Etiam in feugiat nisi. In vestibulum bibendum turpis eu vestibulum. Morbi maximus tincidunt libero, quis dictum lectus volutpat id. Donec ut quam eget lectus auctor tristique. Donec aliquet odio bibendum purus ultricies venenatis. Aliquam risus sapien, hendrerit a dapibus vitae, fermentum id felis. Sed tristique eros est, vitae fermentum risus convallis id. Cras volutpat tincidunt justo, et sodales lacus.</p>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Le centre</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="normal-grey">Terrain Prestige: <span class="dark-grey">1</span></span><br>
                                <span class="normal-grey">Terrain avec caméra: <span class="dark-grey">3</span></span><br>
                                <span class="normal-grey">Terrain normal: <span class="dark-grey">8</span></span>
                            </div>
                            <div class="col-sm-6">
                                <span class="normal-grey">Vestiaires privés</span><br>
                                <span class="normal-grey">Parking gratuit</span><br>
                                <span class="normal-grey">Buvette</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Prix</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="normal-grey">Terrain Prestige: <span class="dark-grey">150€</span></span><br>
                                <span class="normal-grey">Terrain avec caméra: <span class="dark-grey">100€</span></span><br>
                                <span class="normal-grey">Terrain normal: <span class="dark-grey">80€</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Conditions<br>d'annulation</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="normal-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo sem dapibus viverra sodales. Aliquam suscipit arcu mi, at vulputate tortor posuere nec. Duis ultricies vestibulum lorem, nec mollis massa iaculis id. Etiam in feugiat nisi.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row" id="contact">
                    <div class="col-sm-3">
                        <span class="light-grey">Contact</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-1 text-center no-padding">
                                <i class="fa fa-phone dark-grey"></i><br>
                                <i class="fa fa-envelope-o dark-grey"></i><br>
                                <i class="fa fa-map-marker dark-grey"></i><br>
                            </div>
                            <div class="col-xs-11 no-padding">
                                <span class="normal-grey"> 01-00-00-00-00</span><br>
                                <span class="normal-grey"> contact@email.com</span><br>
                                <span class="normal-grey"> 14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</span>
                            </div>
                        </div>
                    </div>
                </div><!-- End row contact -->

                <div class="embed-responsive embed-responsive-16by9 lg-margin-top lg-margin-bottom" id="gmap"><!-- A modifier, utiliser API JS Google -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.994762026785!2d2.391422315643344!3d48.820161379283746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6724c27587c7d%3A0xe19e10c2037f459b!2s14+Rue+Jules+Vanzuppe%2C+94200+Ivry-sur-Seine%2C+France!5e0!3m2!1sfr!2ses!4v1449080409833" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div><!-- End col-lg-8 -->
        </div><!-- End container -->
    </section>
</div>
