<%= form_for @center, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <% if @center.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(@center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% @center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :gmaps %><br>
    <%= f.text_field :gmaps %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<div class="control-group">
  <%= f.label :pictures, :class => 'control-label' %>
  <div class='control'>
    <!-- Use HTML5 multiple attribute to enable multiple selection
           and pass back to controller all files as an array, ready
           for paperclip!!
           file_field_tag, since images is not a center attribute
       -->
        <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>

  <% unless @center.new_record? %>
    <div>
    <table>
    	<thead>
    	   <tr>
      		<th>Categorie</th>
      		<th>Description</th>
      		<th>Logo</th>
      		<th>Edit</th>
    	   </tr>
    	</thead>
    	<tbody>
    	   <% @center.categories.each do |cat| %>
          <tr>
          	<td><%= cat.name %></td>
          	<td><%= cat.description %></td>
            <td> <%= link_to image_tag(cat.picture.image.url(:medium)), cat.picture  %> </td>
          	<td><%= link_to "Modifier", edit_category_path(cat.id) %>	</td>
          </tr>
    	  <%end%>
      </tbody>
    </table>
    <%= link_to "Créer une nouvelle catégorie pour ce centre", new_category_path(center_id: @center.id) %>
    </div>

    <div>
    <table>
      <thead>
        <tr>
          <th>Terrains</th>
          <th>Description</th>
          <th>Categorie</th>
          <th>Statut</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @center.fields.each do |field| %>
          <tr>
            <td><%= field.name %></td>
            <td><%= field.description %></td>
            <td><%= field.category.name %></td>
            <td><%= field.status.to_s %></td>
            <td><%= link_to "Modifier", edit_field_path(field.id) %>	</td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <%= link_to "Créer un nouveau terrain pour ce centre", new_field_path(center_id: @center.id) %>
    </div>
    <div>
    <table>
    	<thead>
    	  <tr>
      		<th>Jour</th>
      		<th>Ouverture</th>
      		<th>Fermeture</th>
      		<th>Ouvert</th>
      		<th>Edit</th>
    	  </tr>
    	</thead>
    	<tbody>
    	   <% @center.business_hours.each do |bh| %>
          <tr>
          	<td><%= bh.day %></td>
          	<td><%= bh.start.strftime("%H:%M") %></td>
          	<td><%= bh.end.strftime("%H:%M") %></td>
          	<td><%= bh.open.to_s %></td>
          	<td><%= link_to "Modifier", edit_business_hour_path(bh.id) %>	</td>
          </tr>
    	  <%end%>
      </tbody>
    <table>
    <p>	<%= link_to 'Créer business hour', new_business_hour_path(bh_id: @center.id, bh_type: @center.class.name) %></p>
    </div>
  <% end %>

<% end %>
