<% # Desktop view %>
<div class="book-box" id="book-box">

<% if false %>
<% # Comments %>
  <% # @game.max_player = 10 %>
  <%= simple_form_for @game do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% # TODO name = center + field + date + user %>
      <%= f.input :name %>
      <% # TODO day = datepicker %>
      <%= f.input :day %>
      <% # TODO start = dropdown %>
      <%= f.input :start %>
      <% # TODO end = start + duration (defautl 1h) %>
      <%= f.input :end %>
      <% # TODO price %>
      <% if false %>
      #  rate = category + day + start + end
      #
      #  category = dropdown menu
      #  day = datepicker
      #  category.rate where day = day
      #  and category.rate where  category.rate.start < start < category.rate.end
      #        later if game   end category.rate =! start cartery.rate ...
      #  duration = end - start
      #  rate * duration = price
      #  price / max_player = price per player
      #<%end%>
      <%= f.input :price%>
      <% #  ? class not working without:  , {}, {class: ''} %>
      <label class="select-field">
        <%=f.select :max_player, options_for_select([['8 joueurs', 8], ['10 joueurs', 10],['12 joueurs', 12]],10),
                                {}, {class: 'book-box-select-field'} %>
      </label>
      <% # No using now %>
      <% f.input :max_substitute %>
      <% f.input :payment %>
      <% f.input :status %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

<% # end comments %>
<%end%>

    <% # Desktop form %>
    <form>
        <label class="icon-calendar booking-input">
            <% # TODO A enregistrer pour game.date %>
            <input type="text" id="datepicker"
                    class="book-box-datepicker"
                    name="datepicker" placeholder="Date" />
        </label>
        <label class="icon-clock booking-input sm-margin-top">
            <% # TODO A enregistrer pour game.start %>
            <input type="text" id="timepicker"
                    class="book-box-timepicker"
                    name="timepicker" placeholder="Horaire" />
        </label>
        <label class="select-field sm-margin-top">
            <select class="book-box-select-field">
                <% unless @categories.nil? %>
                  <% @categories.each do |cat| %>
                  <option value= "<%= cat.name.to_s %>" > Terrain
                  <%= cat.description.to_s %></option>
                  <%end%>
                <%end%>
            </select>
        </label>
        <div class="sm-margin-top">
          <div class="collapse" id="more-option-booking">
            <label class="select-field">
                <select class="book-box-select-field">
                  <% # TODO A afficher en fonction de ? %>
                  <% # TODO A enregistrer pour game.max_player %>
                    <option value="eight-players">8 joueurs</option>
                    <option value="ten-players" selected>10 joueurs</option>
                    <option value="twelve-players">12 joueurs</option>
                </select>
            </label>
            <label class="select-field sm-margin-top">
              <select class="book-box-select-field">
                <% # TODO A afficher en fonction des créneaux dispo %>
                <% # TODO A enregistrer pour game.end %>
                <option value="60">60 minutes</option>
                <option value="90">90 minutes</option>
                <option value="120">120 minutes</option>
              </select>
            </label>
          </div>
            <a class="more-option-button" id="more-option-button" role="button" data-toggle="collapse"
                href="#more-option-booking" aria-expanded="false" aria-controls="more-option-booking">
                Plus d'options
            </a>
          </div>
          <% # TODO A afficher en fonction du prix pour le terrain à l'heure choisie%>
          <% # TODO A enregistrer pour game.price %>
          <h3><b>8€ par joueur(?)</b></h3>
          <p>(8€ x 10 joueurs = 80€)(?)</p>
          <button id="submit-location" type="submit" class="btn-lg btn-book btn-block sm-margin-top">
          <i class="fa fa-bolt"></i>&nbsp;&nbsp;Réservation instantannée 8€</button>
    </form>
</div>

<% # Mobile view %>
<div class="booking-bar-responsive-container" id="booking-bar-responsive">
    <div class="booking-bar-responsive">
        <% # Button to open mobile view reservation %>
        <span><i class="fa fa-bolt"></i>&nbsp;&nbsp;Réservation instantannée</span>
    </div>
</div>
<div class="booking-modal">
    <div class="booking-modal-header">
        <button id="close-booking-modal" class="close"><span>&times;</span></button>
        <% # Page title %>
        <h4 class="modal-title text-center">Réservation instantannée</h4>
    </div>
    <div class="modal-body">
        <% unless @logo.nil? %>
          <%= image_tag(@logo.image.url(:medium), class:"field-logo sm-margin-top") %>
        <%end%>
        <h2 class="text-center"><%= @center.name %></h2>
        <p class="text-center"><%= @center.address %></p>

        <% # Mobile form %>
        <div class="booking-form-responsive">
            <form>
                <div class="row">
                    <% # Date %>
                    <label class="sm-margin-top">
                        <input type="text" id="datepicker-responsive"
                                class="search-bar-datetimepicker-responsive"
                                name="datepicker" placeholder="Date" />
                    </label>
                    <% # Time %>
                    <label class="sm-margin-top">
                        <input type="text" id="timepicker-responsive"
                                class="search-bar-datetimepicker-responsive xs-margin-left"
                                name="timepicker" placeholder="Horaire" />
                    </label>
                </div>
                <% # Category %>
                <label class="select-field">
                    <select class="book-box-select-field">
                      <% unless @categories.nil? %>
                        <% @categories.each do |cat| %>
                        <option value= "<%= cat.name.to_s %>" > Terrain
                        <%= cat.description.to_s %></option>
                        <%end%>
                      <%end%>
                    </select>
                </label>
                <% # Submit button %>
                <button id="submit-location" type="submit"
                        class="btn-lg btn-block btn-booking-responsive sm-margin-top">
                  <i class="fa fa-bolt"></i>&nbsp;&nbsp;Réserver maintenant</button>
            </form>
        </div>
    </div><!-- End modal body -->
</div><!-- End modal -->
