<p id="notice"><%= notice %></p>

<h1>Listing Centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Address</th>
      <th>Country</th>
      <th>Gmaps</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centers.each do |center| %>
      <tr>
        <td><%= center.name %></td>
        <td><%= center.status %></td>
        <td><%= center.address %></td>
        <td><%= center.country %></td>
        <td><%= center.gmaps %></td>
        <td><%= center.latitude %></td>
        <td><%= center.longitude %></td>
        <td><%= center.email %></td>
        <td><%= center.phone_number %></td>
        <td><%= center.description %></td>
        <td><%= link_to 'Show', center %></td>
        <td><%= link_to 'Edit', edit_center_path(center) %></td>
        <td><%= link_to 'Destroy', center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Center', new_center_path %>
