<div class="container-fluid">
    <section class="summary-field-section">
        <div class="container">
            <div class="col-lg-8 sm-padding-top xs-padding-bottom">
                <div class="row">
                    <div class="col-sm-2">
                      <% unless @logo.nil? %>
                      <%= image_tag(@logo.image.url(:medium), class:"field-logo") %>
                      <%end%>
                    </div>
                    <div class="col-sm-10">
                        <h2><%= @center.name %></h2>
                        <p><%= @center.address %></p>
                        <div class="row">
                          <% @categories.each do |cat| %>
                          <div class="col-sm-3 col-xs-4 text-center">
                              <% unless cat.picture.nil? %>
                                <%=  image_tag(cat.picture.image.url(:thumb), class:"field-type-icon") %>
                                <% if (cat.fields.count) == 1 %>
                                  <p><%= cat.fields.count.to_s %> terrain <%= cat.description %></p>
                                <%else%>
                                  <p><%= cat.fields.count.to_s %> terrains <%= cat.description %></p>
                                <%end%>
                              <%end%>
                          </div>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 no-padding">
              <%= render 'new_game_form' %>
            </div><!-- End col-lg-4 -->
        </div> <!-- End container -->
    </section>
    <section class="field-description">
        <div class="container">
            <div class="col-lg-8">
                <% unless @cover.nil? %>
                <%= image_tag(@cover.image.url(), class:"img-thumbnail-field-main no-border-top") %>
                <%end%>
                <div class="row no-margin">
                    <div class="col-xs-4 no-padding">
                        <% unless @pic1.nil? %>
                        <%= image_tag(@pic1.image.url(:medium), class:"img-responsive img-thumbnail-field") %>
                        <%end%>
                    </div>
                    <div class="col-xs-4 no-padding">
                      <% unless @pic2.nil? %>
                      <%= image_tag(@pic2.image.url(:medium), class:"img-responsive img-thumbnail-field") %>
                      <%end%>
                    </div>
                    <div class="col-xs-4 no-padding">
                      <% unless @pic3.nil? %>
                        <%= image_tag(@pic3.image.url(:medium), class:"img-responsive img-thumbnail-field") %>
                      <%end%>
                    </div>
                </div>
                <h3 class="md-margin-top sm-margin-bottom">À propos de ce centre</h3>
                <p><%= @center.description%> </p>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Le centre</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                              <% unless @categories.nil? %>
                                  <% @categories.each do |cat| %>
                                    <% unless cat.fields.empty? %>
                                      <% if (cat.fields.count) == 1 %>
                                        <span class="normal-grey">Terrain <%= cat.description %> :
                                        <span class="dark-grey"><%= cat.fields.count.to_s %> </span></span><br>
                                      <%else%>
                                        <span class="normal-grey">Terrains <%= cat.description %> :
                                        <span class="dark-grey"><%= cat.fields.count.to_s %> </span></span><br>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                <%end%>
                                <p> Un peu redondant avec le début où on a les types de terrain avec les icones </p>
                            </div>
                            <div class="col-sm-6">
                                <% # TODO center/description à modifier pour faire un array  %>
                                <span class="normal-grey">Vestiaires privés(?)</span><br>
                                <span class="normal-grey">Parking gratuit(?)</span><br>
                                <span class="normal-grey">Buvette(?)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Prix</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="rowcategories" >
                            <div class="col-sm-6">
                              <% unless @categories.nil? %>
                                  <% @categories.each do |cat| %>
                                    <% unless cat.rates.empty?  %>
                                      <% max_rate = cat.rates.order('hourly_rate DESC').first.hourly_rate.to_i%>
                                      <% min_rate = cat.rates.order('hourly_rate DESC').last.hourly_rate.to_i%>
                                      <span class="normal-grey">Terrain <%=cat.name %>:
                                      <span class="dark-grey"><%= "#{min_rate}-#{max_rate} €" %>
                                      </span></span><br>
                                    <%end%>
                                  <%end%>
                              <%end%>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="light-grey">Conditions<br>d'annulation</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <% # TODO Condition d'annulation a recuperer %>
                                <span class="normal-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Aenean commodo sem dapibus viverra sodales. Aliquam suscipit arcu mi(?)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider-field-section">
                <div class="row" id="contact">
                    <div class="col-sm-3">
                        <span class="light-grey">Contact</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-1 text-center no-padding">
                                <i class="fa fa-phone dark-grey"></i><br>
                                <i class="fa fa-envelope-o dark-grey"></i><br>
                                <i class="fa fa-map-marker dark-grey"></i><br>
                            </div>
                            <div class="col-xs-11 no-padding">
                                <span class="normal-grey"> <%= @center.phone_number %></span><br>
                                <span class="normal-grey"> <%= @center.email %></span><br>
                                <span class="normal-grey"> <%= @center.address %></span>
                            </div>
                        </div>
                    </div>
                </div><!-- End row contact -->

                <div class="embed-responsive embed-responsive-16by9 lg-margin-top lg-margin-bottom" id="gmap">
                    <!-- A modifier, utiliser API JS Google -->
                    <% # TODO A modifer - @center.gmap true + @center.latitude + @center.longitude %>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.994762026785!2d2.391422315643344!3d48.820161379283746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6724c27587c7d%3A0xe19e10c2037f459b!2s14+Rue+Jules+Vanzuppe%2C+94200+Ivry-sur-Seine%2C+France!5e0!3m2!1sfr!2ses!4v1449080409833" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div><!-- End col-lg-8 -->
        </div><!-- End container -->
    </section>
</div>



<%= link_to 'Edit', edit_center_path(@center) %> |
<%= link_to 'Back', centers_path %>
