<%= simple_form_for(@business_hour) do |f| %>
  <%= f.error_notification %>

  <% if params[:bh_id].present? %>
  <% @business_hour.bh_id  = params[:bh_id]%>
  <%end%>
  <% if params[:bh_type].present? %>
  <% @business_hour.bh_type  = params[:bh_type]%>
  <%end%>

  <div class="form-inputs">
    <%= f.input :bh_id %>
    <%= f.input :bh_type %>
    <%= f.input :day %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :open %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
