<p id="notice"><%= notice %></p>

<h1>Listing Business Hours</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Open</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_hours.each do |business_hour| %>
      <tr>
        <td><%= business_hour.bh.name %></td>
        <td><%= business_hour.day %></td>
        <td><%= business_hour.start.strftime("%H:%M ") %></td>
        <td><%= business_hour.end.strftime("%H:%M ") %></td>
        <td><%= business_hour.open %></td>
        <td><%= link_to 'Show', business_hour %></td>
        <td><%= link_to 'Edit', edit_business_hour_path(business_hour) %></td>
        <td><%= link_to 'Destroy', business_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business hour', new_business_hour_path %>
