<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @business_hour.bh_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @business_hour.day %>
</p>

<p>
  <strong>Start:</strong>
  <%= @business_hour.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @business_hour.end %>
</p>

<p>
  <strong>Open:</strong>
  <%= @business_hour.open %>
</p>

<%= link_to 'Edit', edit_business_hour_path(@business_hour) %> |
<%= link_to 'Back', business_hours_path %>
