<header id="main-menu">
    <%= link_to image_tag("menu-burger.png"), "#", class:"header-icon", id:"header-icon" %>
    <div class="header-pull-left">
        <%= link_to image_tag("logo.png"), "#" %>        
    </div>
    <ul class="header-pull-right">
        <% if user_signed_in? %>
            <li><%= link_to 'Mon profil', edit_user_registration_path %></li>
            <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Se connecter", new_user_session_path %></li>
            <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <% end %>
    </ul>
    <ul class="menu-responsive-header">
        <% if user_signed_in? %>
            <li><%= link_to 'Mon profil', edit_user_registration_path, class:"sm-margin" %></li>
            <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Se connecter", new_user_session_path, class:"sm-margin" %></li>
            <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <% end %>
    </ul>

    <script type="text/javascript">
        (function($){
            $('#header-icon').click(function(e){
                e.preventDefault();
                $('body').toggleClass('with-sidebar');
            });
            $('#site-hidden').click(function(e){
                $('body').removeClass('with-sidebar');
            });
        })(jQuery);
    </script>
</header>


