<section id="welcome-homepage">
	<div class="container-fluid">
		<h1>Envie de faire un foot à 5?</h1>
		<p class="subtitle-homepage">Réserve ta partie de foot à 5 en moins de 2 minutes n'importe où en France</p>
		<div class="row search-bar-background-container">
			<div class="search-bar-background">
				<form class="search-bar">
					<label class="icon-local-map search-label">	
						<input type="text" id="location" class="search-bar-location" name="location" placeholder="Où veux-tu jouer?" />
					</label>
					<label class="icon-calendar date-label">
						<input id="datepicker" class="search-bar-datepicker" name="datepicker" placeholder="Date" />
					</label>
					<label class="icon-clock time-label">
						<input id="timepicker" class="search-bar-timepicker" name="timepicker" placeholder="Horaire" />
					</label>
					<button id="submit-location" type="submit" class="btn-search">Trouver un terrain</button>
				</form>
			</div>
		</div>
		
		<div class="search-bar-responsive-container" id="search-bar-responsive">
			<div class="search-input-responsive">
				<span>Où veux-tu jouer?</span>
			</div>
			<div class="search-button-responsive">
				<i class="fa fa-search"></i>
			</div>
		</div>

		<div class="search-modal">
	      	<div class="search-modal-header">
	        	<button id="close-search-modal" class="close"><span>&times;</span></button>
	        	<h4 class="modal-title text-center">Rechercher</h4>
	      	</div>
	      	<div class="modal-body">
	        	
	        	<div class="search-form-responsive">
		        	<form>
		        		<label class="md-margin-top">
					    	<input type="text" id="location" class="search-bar-location-responsive" name="location" placeholder="Où veux-tu jouer?" />
					    </label>
					    <div class="row">
						    <label class="xs-margin-top">
						    	<input type="text" id="datepicker-responsive" class="search-bar-datetimepicker-responsive" name="datepicker" placeholder="Date" />
						    </label>
						    <label class="xs-margin-top">
						    	<input type="text" id="timepicker-responsive" class="search-bar-datetimepicker-responsive xs-margin-left" name="timepicker" placeholder="Horaire" />
						    </label>
						</div>
					    <button id="submit-location" type="submit" class="btn-lg btn-block btn-search-responsive xs-margin-top"><i class="fa fa-search"></i>&nbsp;&nbsp;Trouver un terrain</button>
		        	</form>
		        </div>

		    </div>
		<div>

	</div>
</section>

<section id="field-available">
	<div class="container">
		<h2>Les terrains disponibles actuellement</h2>
		<p class="text-center">Ne perds pas une minute, réserve ton terrain et joue ton match tout de suite</p>
		<div class="md-margin-bottom">
			<div class="row">
				<div class="col-sm-4 sm-margin-top">
					<button class="box">	
						<%= image_tag("fields/homepage/urban-soccer-field.jpg", width:"100%") %>
						<span class="avalaible-time-box">18:00</span>
						<div class="avatar">
							<%= image_tag("flat-icon/dark-grey-soccer-ball-60px.png", class:"img-circle") %>
						</div>
						<div class="box-body">
							<div class="row sm-margin-top">
								<div class="col-xs-8">	
									<h3><b>Urban Soccer</b></h3>
								</div>
								<div class="col-xs-4">
									<h3 class="text-center">9 €</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8">14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</div>
								<div class="col-xs-4 text-center">par joueur</div>
							</div>
						</div>
					</button>
				</div>
				<div class="col-sm-4 sm-margin-top">
					<button class="box">	
						<%= image_tag("fields/homepage/urban-soccer-field.jpg", width:"100%") %>
						<span class="avalaible-time-box">18:00</span>
						<div class="avatar">
							<%= image_tag("flat-icon/dark-grey-soccer-ball-60px.png", class:"img-circle") %>
						</div>
						<div class="box-body">
							<div class="row sm-margin-top">
								<div class="col-xs-8">	
									<h3><b>Urban Soccer</b></h3>
								</div>
								<div class="col-xs-4">
									<h3 class="text-center">9 €</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8">14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</div>
								<div class="col-xs-4 text-center">par joueur</div>
							</div>
						</div>
					</button>
				</div>
				<div class="col-sm-4 sm-margin-top">
					<button class="box">	
						<%= image_tag("fields/homepage/urban-soccer-field.jpg", width:"100%") %>
						<span class="avalaible-time-box">18:00</span>
						<div class="avatar">
							<%= image_tag("flat-icon/dark-grey-soccer-ball-60px.png", class:"img-circle") %>
						</div>
						<div class="box-body">
							<div class="row sm-margin-top">
								<div class="col-xs-8">	
									<h3><b>Urban Soccer</b></h3>
								</div>
								<div class="col-xs-4">
									<h3 class="text-center">9 €</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8">14 rue Jules Vanzuppe 94200 Ivres-sur-Seine</div>
								<div class="col-xs-4 text-center">par joueur</div>
							</div>
						</div>
					</button>
				</div>
			</div>
		</div>
		<h2>Mode d'emploi</h2>
		<p class="text-center">Comment ne plus se prendre la tête pour organiser un foot à 5? Utilise LeVestiaire</p>
		<div class="row">
			<div class="col-sm-4 text-center sm-margin-top">Test</div>
			<div class="col-sm-4 text-center sm-margin-top">Test</div>
			<div class="col-sm-4 text-center sm-margin-top">Test</div>
		</div>
	</div>
</section>
