<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :day %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :price %>
    <%= f.input :max_player %>
    <%= f.input :max_substitute %>
    <%= f.input :payment %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
