<div class="row">
  <% # TODO image url instead of picture ?? - user has_one picture  %>
  <% if @game.reservations %>

    <% # Captain first %>
    <% if @game.reservations.find_by_status('captain') %>
      <div class="col-md-2  col-xs-6">
        <div class="thumbnail-player"  title="Captain">
          <% if @captain.image %>
            <%= image_tag(@captain.image.url(:thumb), class:"player-picture") %>
            <i class="fa fa-check-circle fa-2x"></i>
          <%end%>
          <div class="player-name"><%= @captain.first_name %> <%= @captain.last_name %></div>
        </div>
      </div>
    <%end%>

    <% # List of users playing %>
    <% if @res_players %>
      <% @res_players.each do |res| %>
        <div class="col-md-2  col-xs-6">
          <div class="thumbnail-player"  title="Joueur présent">
            <% if res.user.image %>
            <%= image_tag(res.user.image.url(), class:"player-picture") %>
            <i class="fa fa-check-circle fa-2x"></i>
            <%end%>
            <div class="player-name"><%= res.user.first_name %> <%= res.user.last_name %></div>
          </div>
        </div>
      <%end%>
    <%end%>

  <%end%>

  <% # Add an player %>
  <% # 1 = captain  %>
  <% if @res_players && (@res_players.count + 1) < @game.max_player.to_i %>
  <div class="col-md-2 col-xs-6">
    <div class="thumbnail-player" title="Ajouter un joueur">
      <% # TODO Add invit link %>
      <%= link_to "<button class='player-picture add-player'><i class='fa fa-user fa-3x'></i><i class='fa fa-plus-circle fa-2x'></i></button>".html_safe,
          root_path, :id => "button_id"%>
    <span class="player-name">Ajouter un joueur</span>
  </div>
  </div>
  <%end%>

  <% # empty space %>
  <% # 2 = captain & add player button %>
  <% if @res_players %>
  <% available_place = (@game.max_player.to_i - @res_players.count - 2) %>
  <%else%>
  <% available_place = (@game.max_player.to_i - 2) %>
  <%end%>
  <% if available_place < 0 %> <%available_place = 0%> <%end%>
  <% for i in 1..available_place do %>
    <div class="col-md-2 col-xs-6">
      <div class="thumbnail-player" title="Place libre">
        <div class="player-picture player-empty"><i class="fa fa-user fa-3x"></i></div>
        <span class="player-name-empty">Place libre</span>
      </div>
    </div>
    <% end %>
</div>
