<% if @game.field && @game.field.center %>
<div class="modal fade" id="details-field-modal" tabindex="-1" role="dialog" aria-labelledby="details-field-modal-label">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="details-field-modal-label"><%= @game.field.center.name %> - <%= @game.field.center.address %></h4>
      </div>
      <div class="modal-body">
        <div class="media col-md-10 xs-padding-top">
          <div class="media-left media-middle">
            <% if @game.field.center.pictures.find_by_description('logo') %>
            <%= image_tag(@game.field.center.pictures.find_by_description('logo').image.url(:thumb), class:"field-logo") %>
            <%end%>
          </div>
          <div class="media-body sm-padding-left">
            <h2 class="media-heading"><%= @game.field.center.name %></h2>
            <p><%= @game.field.center.address %></p>
              <div class="row">
                <% if @game.field.center.categories %>
                <% @game.field.center.categories.each do |cat| %>
                <div class="col-sm-3 col-xs-4 text-center">
                    <% if cat.picture %>
                      <%=  image_tag(cat.picture.image.url(:thumb), class:"field-type-icon") %>
                      <% if (cat.fields.count) == 1 %>
                        <p><%= cat.fields.count.to_s %> terrain <%= cat.description %></p>
                      <%else%>
                        <p><%= cat.fields.count.to_s %> terrains <%= cat.description %></p>
                      <%end%>
                    <%end%>
                </div>
                <%end%>
                <%end%>
              </div>
          </div>
        </div>

        <div class="row">
          <% if @game.field.center.pictures.find_by_description('cover') %>
          <%= image_tag(@game.field.center.pictures.find_by_description('cover').image.url(), class:"img-thumbnail-field-main no-border-top") %>
          <%end%>
        </div>

        <div class="xs-padding">
          <h4><b>À propos de ce centre</b></h4>
          <%=@game.field.center.description%>
          <div class="row">
            <div class="col-sm-3">
              <span class="light-grey">Le centre</span>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6">
                  <% if @game.field.center.categories %>
                      <% @game.field.center.categories.each do |cat| %>
                        <% unless cat.fields.empty? %>
                          <% if (cat.fields.count) == 1 %>
                            <span class="normal-grey">Terrain <%= cat.description %> :
                            <span class="dark-grey"><%= cat.fields.count.to_s %> </span></span><br>
                          <%else%>
                            <span class="normal-grey">Terrains <%= cat.description %> :
                            <span class="dark-grey"><%= cat.fields.count.to_s %> </span></span><br>
                          <%end%>
                        <%end%>
                      <%end%>
                    <%end%>
                    <p> Un peu redondant avec le début où on a les types de terrain avec les icones </p>
                </div>
                <div class="col-sm-6">
                    <% # TODO center/description à modifier pour faire un array  %>
                    <span class="normal-grey">Vestiaires privés(?)</span><br>
                    <span class="normal-grey">Parking gratuit(?)</span><br>
                    <span class="normal-grey">Buvette(?)</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <span class="light-grey">Prix</span>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6">
                  <% if @game.field.center.categories %>
                      <% @game.field.center.categories.each do |cat| %>
                        <% unless cat.rates.empty?  %>
                          <% max_rate = cat.rates.order('hourly_rate DESC').first.hourly_rate.to_i%>
                          <% min_rate = cat.rates.order('hourly_rate DESC').last.hourly_rate.to_i%>
                          <span class="normal-grey">Terrain <%=cat.name %>:
                          <span class="dark-grey"><%= "#{min_rate}-#{max_rate} €" %>
                          </span></span><br>
                        <%end%>
                      <%end%>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <span class="light-grey">Conditions<br>d'annulation</span>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-12">
                  <% # TODO %>
                  <span class="normal-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo sem dapibus viverra sodales. Aliquam suscipit arcu mi, at vulputate tortor posuere nec. Duis ultricies vestibulum lorem, nec mollis massa iaculis id. Etiam in feugiat nisi.</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <span class="light-grey">Contact</span>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-xs-1 text-center no-padding">
                  <i class="fa fa-phone dark-grey"></i><br>
                  <i class="fa fa-envelope-o dark-grey"></i><br>
                  <i class="fa fa-map-marker dark-grey"></i>
                </div>
                <div class="col-xs-11 no-padding">
                  <span class="normal-grey"> <%= @game.field.center.phone_number %></span><br>
                  <span class="normal-grey"> <%= @game.field.center.email %></span><br>
                  <span class="normal-grey"> <%= @game.field.center.address %></span>
                </div>
              </div>
            </div>
          </div><!-- End row contact -->

          <div class="embed-responsive embed-responsive-16by9 md-margin-top">
            <% # TODO Gmap %>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.994762026785!2d2.391422315643344!3d48.820161379283746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6724c27587c7d%3A0xe19e10c2037f459b!2s14+Rue+Jules+Vanzuppe%2C+94200+Ivry-sur-Seine%2C+France!5e0!3m2!1sfr!2ses!4v1449080409833" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
    </div>
</div>
<%end%>
