<div role="tabpanel" class="tab-pane" id="configuration">
  <div class="row no-padding">
    <% if @user_belongs_to_game %>
    <div class="col-md-7">
      <h2 class="no-margin sm-margin-top-responsive dark-grey" style="font-weight:normal">Que souhaites-tu faire?</h2>
      <% # TODO edit game %>
      <%= link_to '<button class="box-configuration sm-margin-top" type="submit">
        <div class="media">
          <div class="media-left media-middle">
            <i class="fa fa-cog media-object fa-2x"></i>
          </div>
          <div class="media-body xs-padding-left">
            <h4 class="media-heading">Modifier la réservation</h4>
            Modifier la date, le type de terrain, le nombre de joueurs, etc.
          </div>
        </div>
      </button>'.html_safe, edit_game_path(@game) %>

      <% # TODO delete game %>
      <% if current_user.id == @captain.id && @captain.id %>
      <%= link_to '<button class="box-configuration sm-margin-top" type="submit">
          <div class="media">
            <div class="media-left media-middle">
              <i class="fa fa-times media-object fa-2x"></i>
            </div>
            <div class="media-body xs-padding-left">
              <h4 class="media-heading">Annuler la réservation</h4>
              Cette réservation a des conditions d&#039;annulation souples.
            </div>
          </div>
        </button>'.html_safe, edit_game_path(@game),data: {confirm: "Voulez-vous vraiment annuler la réservation?"} %>
        <%else%>
        <%= link_to '<button class="box-configuration sm-margin-top" type="submit">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-times media-object fa-2x"></i>
              </div>
              <div class="media-body xs-padding-left">
                <h4 class="media-heading">Quitter le match</h4>
                Cette réservation a des conditions d&#039;annulation souples.
              </div>
            </div>
          </button>'.html_safe, quit_game_path(@game),data: {confirm: "Voulez-vous vraiment quitter le match?"}, method: :post  %>
        <%end%>
    </div>
    <%end%>
    <div class="col-md-5">
      <div class="box-configuration no-padding sm-margin-top-responsive">
        <%if @game.field && @game.field.center && @game.field.center.pictures.find_by_description('cover') %>
        <%= image_tag(@game.field.center.pictures.find_by_description('cover').image.url(:medium), class:"img-responsive") %>
        <%end%>
        <div class="sm-padding">
          <span class="date-field-configuration">
            <%= @game.day.strftime("%d/%m/%Y")%> |
            <%= @game.start.strftime("%H")%>h -
            <%= @game.end.strftime("%H")%>h
          </span>
          <%if @game.field && @game.field.center && @game.field.category %>
            <h3 class="name-field-configuration"><%= @game.field.center.name %></h3>
            <span><%= @game.field.center.address %></span>
            <hr>
            <span><b>Terrain <%= @game.field.category.description%></b></span><br>
            <span>
              <%= @game.max_player %> joueurs
              (<%= @game.max_player/2 %> vs <%= @game.max_player/2 %>)
             </span>
            <hr>
            <span><b><%= @game.price %>€ la réservation</b></span><br>
            <% # TODO paiement type %>
            <span>Chaque joueur paye sa part(?)</span><br>
            <span><%= @game.price/@game.max_player %>€ par joueur</span>
            <hr>
            <% # TODO cancel rule %>
            <span>Conditions d'annulation</span><span class="float-right red">Souples(?)</span>
            <hr>
            <% # TODO SUM paid %>
            <h3 class="dark-grey">Total payé: <span class="float-right">24€(?)</span></h3>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
