<div class="container-fluid">
	<section class="match-description">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 no-padding">
					<ul class="side-nav nav nav-tabs" role="tablist">
						<li><a href="modify.html">Modifier la réservation</a></li>
						<li class="active"><a href="cancel.html">Annuler la réservation</a></li>
						<li><a href="index.html">Retour au match</a></li>
					</ul>
				</div>
				<div class="col-sm-9 no-padding">
					<form method="get">	
						<div class="box-configuration no-padding">
							<div class="box-match-description-header">Annuler la réservation</div>
							<div class="box-match-description-body">
								<div class="row">	
									<div class="col-xs-3 dark-grey text-right"><b>Réservation prévue</b></div>
									<div class="col-xs-9">
										<span class="normal-grey"><b>Date:</b> 09/01/2016</span><br>
										<span class="normal-grey"><b>Horaire:</b> 19:00 - 20:00</span><br>
										<span class="normal-grey"><b>Durée:</b> 60 minutes</span><br>
										<span class="normal-grey"><b>Centre:</b> Urban Soccer - 14 rue Jules Vanzuppe 94200 Ivry-sur-Seyne</span><br>
										<span class="normal-grey"><b>Joueurs attendus:</b> 10</span><br>
										<span class="normal-grey"><b>Terrain:</b> Normal</span><br>
									</div>
								</div>
								<hr>
								<div class="row">	
									<div class="col-xs-3 dark-grey text-right"><b>Rappel des conditions d'annulation</b></div>
									<div class="col-xs-9 red">Souples</div>
								</div>
								<div class="row lg-margin-top">
									<div class="sm-padding">	
										<div class="row">	
											<div class="col-xs-4 timeline-bar timeline-bar-refundable">
												<div class="timeline-bar-tooltip">6 heures avant</div>
												<div class="timeline-bar-circle"></div>
											</div>
											<div class="col-xs-4 timeline-bar timeline-bar-semirefundable">
												<div class="timeline-bar-tooltip">2 heures avant</div>
												<div class="timeline-bar-circle"></div>
											</div>
											<div class="col-xs-4 timeline-bar timeline-bar-norefundable">
												<div class="timeline-bar-tooltip">Début du match</div>
												<div class="timeline-bar-circle"></div>
											</div>
										</div>
										<div class="row sm-margin-top">
											<div class="col-xs-4">
												<p class="normal-grey">Afin de bénéficier d'un remboursement intégral, l'annulation doit intervenir <b>au moins 6 heures avant</b> l'heure de la réservation pour permettre au propriétaire du terrain de pouvoir remettre le créneau à la location.</p>
											</div>
											<div class="col-xs-4">
												<p class="normal-grey">Si le responsable de la réservation annule <b>2 heures avant</b> l'horaire fixé, une pénalité de 25% du prix payé sera prélevé en dédomagement.</p>
											</div>
											<div class="col-xs-4">
												<p class="normal-grey">Si le responsable de la réservation et son équipe ne se présentent pas lors de l'horaire fixé, la totalité du prix payé sera prélevé.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row xs-margin-top">
									<div class="col-xs-3 dark-grey text-right"><b>Coût de l'annulation</b></div>
									<div class="col-xs-9">Gratuit</div>
								</div>
								<div class="row sm-margin-top">
									<div class="col-xs-3 dark-grey text-right"><b>Raison de l'annulation</b><br><span class="light-grey"><i>(facultatif)</i></span></div>
									<div class="col-xs-9">
										<label class="select-field"> 
											<select class="book-box-select-field">
												<option value="not-enough-players">Pas assez de joueurs</option>
												<option value="option2">Option 2</option>
												<option value="option3">Option 3</option>
											</select>
										</label>
									</div>
								</div>									
								<div class="col-xs-offset-3 md-margin-top">
									<label><input type="checkbox" />Je confirme vouloir annuler la réservation</label>
								</div>
							</div>
						</div>
						<button class="btn-save-configuration sm-margin-top" type="submit">Annuler la réservation</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>