<% if false %>
	<h1>Editing Game</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @game %> |
	<%= link_to 'Back', games_path %>
	
<%end%>


<div class="container-fluid">
	<section class="match-description">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 no-padding">
					<ul class="side-nav nav nav-tabs" role="tablist">
						<li class="active">
							<%= link_to "Modifier la réservation", edit_game_path(@game) %>
						</li>
						<li><%= link_to "Annuler la réservation", edit_game_path(@game) %></li>
						<li><%= link_to "Retour au match", @game %></li>
					</ul>
				</div>
				<div class="col-sm-9 no-padding">
					<form method="get">	
						<div class="box-configuration no-padding">
							<div class="box-match-description-header">Modifier la réservation</div>
							<div class="box-match-description-body">
								<span class="normal-grey"><b><i class="fa fa-exclamation-circle"></i>  Attention:</b> modifier certaines options peut changer le prix de la réservation et donc le prix à payer par joueur.</span>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right" for="datepicker"><b>Date du match</b></label>
									<div class="col-xs-9">
										<label class="icon-calendar booking-input">
											<input type="text" id="datepicker" class="book-box-datepicker" name="datepicker" placeholder="Date" />
										</label>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right" for="timepicker"><b>Horaire du match</b></label>
									<div class="col-xs-9">
										<label class="icon-clock booking-input">
											<input type="text" id="timepicker" class="book-box-timepicker" name="timepicker" placeholder="Horaire" />
										</label>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 normal-grey text-right"><b>Durée du match</b></label>
									<div class="col-xs-9">
										<label class="select-field"> 
											<select class="book-box-select-field">
												<option value="60">60 minutes</option>
												<option value="90">90 minutes</option>
												<option value="120">120 minutes</option>
											</select>
										</label>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right"><b>Nombre de joueurs</b></label>
									<div class="col-xs-9 set-number-players">
										<div class="row no-padding">
											<label class="col-xs-4">
												<input type="radio" id="eight-players" name="number-players" /><label for="eight-players"><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>&nbsp;&nbsp;8 (4 vs 4)</label>
											</label>
											<label class="col-xs-4">
												<input type="radio" id="ten-players" name="number-players" checked /><label for="ten-players"><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>&nbsp;&nbsp;10 (5 vs 5)</label>
											</label>
											<label class="col-xs-4">
												<input type="radio" id="twelve-players" name="number-players" /><label for="twelve-players"><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>&nbsp;&nbsp;12 (6 vs 6)</label>
											</label>
										</div>
										<div class="xs-margin-top">
											<div class="collapse row no-padding" id="more-option-players">
												<label class="col-xs-4">
													<input type="radio" id="nine-players" name="number-players" /><label for="nine-players"><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>&nbsp;&nbsp;9 (5 vs 4)</label>
												</label>
												<label class="col-xs-4">
													<input type="radio" id="eleven-players" name="number-players" /><label for="eleven-players"><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>&nbsp;&nbsp;11 (6 vs 5)</label>
												</label>
											</div>
											<a class="more-option-button" id="more-option-button" role="button" data-toggle="collapse" href="#more-option-players" aria-expanded="false" aria-controls="more-option-players">Plus d'options</a>
										</div>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right"><b>Type de terrain</b></label>
									<div class="col-xs-9">
										<label class="select-field"> 
											<select class="book-box-select-field">
												<option value="normal">Terrain normal</option>
												<option value="camera">Terrain avec caméra</option>
												<option value="prestige">Terrain prestige</option>
											</select>
										</label>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right"><b>Prix total de la réservation</b></label>
									<div class="col-xs-9">80€</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right"><b>Prix par joueur</b></label>
									<div class="col-xs-9">8€ par joueur (10 joueurs x 8€ = 80€)</div>
								</div>
							</div>
						</div>
						<div class="box-configuration sm-margin-top no-padding">
							<div class="box-match-description-header">Paramètres liés au paiement</div>
							<div class="box-match-description-body">
								<div class="row">
									<label class="col-xs-3 text-right"><b>Répartition du paiement</b></label>
									<div class="col-xs-9">
										<div class="row">
											<div class="col-xs-6"><input type="radio" id="payment-repartition-each-player" name="payment-repartition" checked />
											<label for="payment-repartition-each-player">Chaque joueur paye sa part</label></div>
											<div class="col-xs-6"><input type="radio" id="payment-repartition-captain" name="payment-repartition" />
											<label for="payment-repartition-captain">Le capitaine paye pour tous les joueurs</label></div>
										</div>
									</div>
								</div>
								<div class="row sm-margin-top">
									<label class="col-xs-3 text-right"><b>Paiement par autre joueur</b></label>
									<div class="col-xs-9">
										<input type="checkbox" id="checkbox-invitation-players-authorization" checked /><label for="checkbox-invitation-players-authorization">Les joueurs peuvent payer pour inscrire d'autres joueurs</label>
									</div>
								</div>
							</div>
						</div>
						<button class="btn-save-configuration sm-margin-top" type="submit">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>