<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Price</th>
      <th>Max player</th>
      <th>Max substitute</th>
      <th>Payment</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.day %></td>
        <td><%= game.start %></td>
        <td><%= game.end %></td>
        <td><%= game.price %></td>
        <td><%= game.max_player %></td>
        <td><%= game.max_substitute %></td>
        <td><%= game.payment %></td>
        <td><%= game.status %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Game', new_game_path %>
<%else%>
  <p>Veuillez vous connecter pour creer un match</p>
  <li><%= link_to "Se connecter", new_user_session_path %></li>
  <li><%= link_to "S'inscrire", new_user_registration_path %></li>
<%end%>
