<div class="container-fluid">
  <section class="booked-field">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-sm-offset-2 col-xs-5 text-center no-padding">
          <div class="date-box" title="Date du match">
            <div class="date-month"> <%= @game.day.strftime("%^b")%></div>
            <div class="date-day"><%= @game.day.strftime("%d")%></div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-7">
          <div class="row time-box" title="Horaire du match">
            <%= image_tag("clock-icon.png", class:"match-time-icon") %>
            <div class="match-time"><%= @game.start.strftime("%H:%M")%> - <%= @game.end.strftime("%H:%M")%></div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 field-match-box" title="Lieu du match">
          <div class="media">
            <div class="media-left media-middle">
              <%if @game.field && @game.field.center && @game.field.center.pictures.find_by_description('logo') %>
              <%= image_tag(@game.field.center.pictures.find_by_description('logo').image.url(:thumb), class:"media-object") %>
              <%end%>
            </div>
            <div class="media-body xs-padding-left">
              <%if @game.field && @game.field.center%>
              <h4 class="field-match-name media-heading"><%= @game.field.center.name %></h4>
              <div class="field-match-adress"><%= @game.field.center.address %></div>
              <button class="btn-light-white xs-margin-top" data-toggle="modal" data-target="#details-field-modal">Plus d'information</button>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="match-description">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 no-padding">
          <ul class="side-nav nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <%= link_to "Liste des joueurs", "#list-of-players", :role => "tab", :data => {:toggle => "tab"}, :aria => {:controls => "list-of-players"} %>
            </li>
            <li role="presentation">
              <%= link_to "Configuration du match", "#configuration", :role => "tab", :data => {:toggle => "tab"}, :aria => {:controls => "configuration"} %>
            </li>
            <li role="presentation">
              <%= link_to "Liste d'attente", "#waiting-list", :role => "tab", :data => {:toggle => "tab"}, :aria => {:controls => "waiting-list"} %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 no-padding tab-content">
          <div role="tabpanel" class="tab-pane active" id="list-of-players">
              <div class="box">
                <div class="box-header">Liste des joueurs</div>
                <div class="box-body">
                <%= render 'list_players'%>
                </div>
                <hr class="divider-box-match">
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                      <div class="guest-number-box">
                        <%if @res_players %>
                        <div class="guest-number"><%= "#{@res_players.count + 1}/#{@game.max_player.to_i}" %></div>
                        <%else%>
                        <div class="guest-number"><%= "1/#{@game.max_player.to_i}" %></div>
                        <%end%>
                        <div class="guest-subtitle">joueurs</div>
                      </div>
                    </div>
                    <% if false %>
                    <div class="col-sm-2 col-xs-6">
                      <div class="guest-number-box">
                        <% # TODO number of invit%>
                        <div class="guest-number">26</div>
                        <div class="guest-subtitle">invités</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                      <% # TODO message to players%>
                      <button class="btn-light-white btn-send-message xs-margin-top">
                        <i class="fa fa-comment"></i>&nbsp;&nbsp;Message aux joueurs</button>
                    </div>
                    <%end%>
                    <div class="col-sm-4 col-xs-12 text-center">

                      <% unless @user_belongs_to_game %>
                      <%= link_to 'Rejoindre la partie', join_game_path(@game), method: :post%>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <%= render 'options' %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'more_info_center' %>

</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

        <% # Facebook send button %>
        <% if Rails.env.development?%>
        <div class="fb-send" data-href="http://levestiaire.co"> </div></br>
        <%= link_to "Partager sur facebook", "https://www.facebook.com/sharer/sharer.php?u=http://levestiaire.co" %> </br>
        <% fb_send_url = "http://www.facebook.com/dialog/send?app_id=" + ENV['FACEBOOK_APP_ID'].to_s + "&link=" + "http://levestiaire.co" + "&redirect_uri=" + request.original_url.to_s %>
        <%= link_to "Envoyer sur facebook", fb_send_url %> </br>

        <%end%>
        <% if Rails.env.production?%>
        <div class="fb-send"> </div> </br>
        <% fb_share_url = "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url.to_s %>
        <%= link_to "Partager sur facebook", fb_share_url %> </br>
        <% fb_send_url = "http://www.facebook.com/dialog/send?app_id=" + ENV['FACEBOOK_APP_ID'].to_s + "&link=" + request.original_url.to_s + "&redirect_uri=" + request.original_url.to_s %>
        <%= link_to "Envoyer sur facebook", fb_send_url %> </br>
        <%end%>

        <%= link_to 'Edit', edit_game_path(@game) %> |
        <%= link_to 'Back', games_path %>
      </div>
    </div>
  </div>
</div>
