<%= form_for @chain, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
      <% @chain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<% unless @chain.picture.nil? %>
<div> <%= link_to image_tag(@chain.picture.image.url(:medium)), @chain.picture  %> </div>
<%end%>
<div class="form-group">
  <%= f.label :picture %>
  <%= file_field_tag "image", type: :file %>
</div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
