<p id="notice"><%= notice %></p>

<h1>Listing Chains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.name %></td>
        <td><%= chain.description %></td>
        <% unless chain.picture.nil? %>
        <td> <%= link_to image_tag(chain.picture.image.url(:medium)), chain.picture  %> </td>
        <%end%>
        <td><%= link_to 'Show', chain %></td>
        <td><%= link_to 'Edit', edit_chain_path(chain) %></td>
        <td><%= link_to 'Destroy', chain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chain', new_chain_path %>
