<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chain.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chain.description %>
</p>

<% unless @chain.picture.nil? %>
<div> <%= link_to image_tag(@chain.picture.image.url(:medium)), @chain.picture   %> </div>
<%end%>

<%= link_to 'Edit', edit_chain_path(@chain) %> |
<%= link_to 'Back', chains_path %>
