<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Pictures:</strong>
</p>

<div>
    <%= link_to image_tag(@picture.image.url(:medium)), @picture %>
</div>

<p>
  <strong>Pictures:</strong>
</p>



<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
