<%= form_for@match, html: { multipart: true } do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

<% if params[:terrain_id].present? %>
<% @match.terrain_id  = params[:terrain_id]%>
<%end%>

  <div class="field">
    <%= f.label :terrain %></br>
    <%= f.collection_select(:terrain_id, @terrains, :id, :name, :include_blank => "Choisir un terrain") %>
  </div>



<%-# if false allows to comment a whole block  -%>
<%if false%>
  <div class="form-group">
    <%= f.label :image%>
    <%= f.file_field :image, class: "form-control" %>
  </div>
<%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
