<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.description %></td>
        <td><%= match.user.email %></td>
        <td><%= match.terrain.name  if match.terrain %></td>
        <td><%= image_tag match.terrain.image.url(:medium) if match.terrain %> </td>
        <td><%= link_to 'Show', match %></td>
        <% if match.user == current_user %>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
