<p id="notice"><%= notice %></p>



<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

        <p>
          <%= image_tag @match.terrain.image.url(:medium) %>
          <strong>Description:</strong>
          <%= @match.description %>
        </p>

        <%# Facebook send button %>
        <% if Rails.env.development?%>
        <div class="fb-send" data-href="http://levestiaire.co"> </div></br>
        <%= link_to "Partager sur facebook", "https://www.facebook.com/sharer/sharer.php?u=http://levestiaire.co" %> </br>
        <% fb_send_url = "http://www.facebook.com/dialog/send?app_id=" + ENV['FACEBOOK_APP_ID'].to_s + "&link=" + "http://levestiaire.co" + "&redirect_uri=" + request.original_url.to_s %>
        <%= link_to "Envoyer sur facebook", fb_send_url %> </br>

        <%end%>
        <% if Rails.env.production?%>
        <div class="fb-send"> </div> </br>
        <% fb_share_url = "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url.to_s %>
        <%= link_to "Partager sur facebook", fb_share_url %> </br>
        <% fb_send_url = "http://www.facebook.com/dialog/send?app_id=" + ENV['FACEBOOK_APP_ID'].to_s + "&link=" + request.original_url.to_s + "&redirect_uri=" + request.original_url.to_s %>
        <%= link_to "Envoyer sur facebook", fb_send_url %> </br>
        <%end%>




        <% if @match.user == current_user %>
        <%= link_to 'Edit', edit_match_path(@match) %> |
        <%end%>
        <%= link_to 'Back', matches_path %>
      </div>
    </div>
  </div>
</div>
