/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *= require jquery.timepicker.css
 *= require fullcalendar

 *= require_tree .
 *= require_self
 *
 *
 *
 * 1. Typography
 * 2. Inputs & Checkbox
 * 3. Main menu (menu header)
 * 4. Date & Time pickers custom
 * 5. Padding & Margin
 * 6. Footer
 *
 *
 */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			       Typography		  		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url(https://fonts.googleapis.com/css?family=Roboto:700,500);

body{
	color:#616161;
}

footer{
	background-color:#212121;
	color: #F5F5F5;
}

.text-center{
	text-align: center;
}

.container-fluid{
	padding:0;
}

h1, h2{
	font-family:'Roboto', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5{
	margin-top:0;
}

.text-bigger{
	font-size:1.5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   Input & Checkbox		  		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

input:focus{outline: 0;}

::-webkit-input-placeholder { font-weight:normal; }
::-moz-placeholder  { font-weight:normal; } /* firefox 19+ */
:-ms-input-placeholder  { font-weight:normal; } /* ie */
input:-moz-placeholder  { font-weight:normal; }

.icon-local-map ::-webkit-input-placeholder::after { font-family: fontAwesome; content:'\f041 '; float:right; }
.icon-local-map ::-moz-placeholder::after  { font-family: fontAwesome; content:'\f041 '; float:right; } /* firefox 19+ */
.icon-local-map :-ms-input-placeholder::after  { font-family: fontAwesome; content:'\f041 '; float:right; } /* ie */
.icon-local-map input:-moz-placeholder::after  { font-family: fontAwesome; content:'\f041 '; float:right; }

.icon-calendar ::-webkit-input-placeholder::after { font-family: fontAwesome; content:'\f274 '; float:right; }
.icon-calendar ::-moz-placeholder::after  { font-family: fontAwesome; content:'\f274 '; float:right; } /* firefox 19+ */
.icon-calendar :-ms-input-placeholder::after  { font-family: fontAwesome; content:'\f274 '; float:right; } /* ie */
.icon-calendar input:-moz-placeholder::after  { font-family: fontAwesome; content:'\f274 '; float:right; }

.icon-clock ::-webkit-input-placeholder::after { font-family: fontAwesome; content:'\f017 '; float:right; }
.icon-clock ::-moz-placeholder::after  { font-family: fontAwesome; content:'\f017 '; float:right; } /* firefox 19+ */
.icon-clock :-ms-input-placeholder::after  { font-family: fontAwesome; content:'\f017 '; float:right; } /* ie */
.icon-clock input:-moz-placeholder::after  { font-family: fontAwesome; content:'\f017 '; float:right; }

[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  	position:absolute;
  	left:-9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position:relative;
  	padding-left:25px;
  	cursor:pointer;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content:'';
	position:absolute;
	left:0;
	top:1px;
	width:17px;
	height:17px;
	border:1px solid #BDBDBD;
	background:#fff;
	border-radius:0;
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content:'\2713';
	position:absolute;
	top:0;
	left:3px;
	font-size:14px;
	color:#ef4646;
}

[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
	opacity:0;
}

[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  	opacity:1;
}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  	box-shadow:none;
  	border-color:#BDBDBD;
  	background-color:#fff;
}

[type="radio"]:disabled:checked + label:after,
[type="checkbox"]:disabled:checked + label:after {
  	color:#999;
}

[type="radio"]:disabled + label,
[type="checkbox"]:disabled + label {
  	color:#aaa;
}

[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  	border:1px solid #BDBDBD;
}

label{
	font-weight:normal;
	color:#616161;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   	 Boxes & avatar		  		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.box{
	width:100%;
	border:1px solid #BDBDBD;
	background-color:#fff;
	border-radius:0;
	padding:0;
	text-align:left;
	font-size:14px;
}

.box-header{
	background-color:#EEEEEE;
	color:#424242;
	padding:10px 20px;
	border-bottom:1px solid #BDBDBD;
	font-size:20px;
}

.box-body,
.box-footer{padding:20px;}


.avalaible-time-box{
	background-color:rgba(203,43,43,0.8); /* #cb2b2b; rgba(255,71,71,0.9);*/
	color:#fff;
	padding:10px 15px;
	overflow:hidden;
	position:absolute;
	z-index:1;
	left:35px;
	margin-top:-20px;
}

.box .avatar{
	border-radius:50%;
	width:60px;
	height:60px;
	margin-top:-31px;
	overflow:hidden;
	position:absolute;
	z-index:1;
	right:35px;
}

.avatar img{
	background-color:#fff;
	width:100%;
	border:1px solid #bdbdbd;
}

.img-circle{border-radius: 50%}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   		Buttons		  		  	   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.more-option-button,
.more-option-button:hover,
.more-option-button:active,
.more-option-button:focus{
	color:#ef4646;
	text-decoration:none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      Main Menu (menu header)		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.main-menu{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    height: 100px;
    padding: 25px 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
    background-color: transparent;
    color:#fff;
}

.dark-menu{
	background-color:#212121;
	color:#fff;
	color:0;
	left:0;
	right:0;
	position:relative; /*static*/
	height:100px;
}

.header-pull-left{
	float:left;
}

.header-pull-right{
	float: right;
	margin-top: 16px;
}

.header-pull-right>* {
    display: inline-block;
    margin-left: 40px;
}

.main-menu li{
	text-decoration: none;
	display: inline;
}

.main-menu li a{
	color:#F5F5F5;
}

.main-menu li a:hover{
	text-decoration: none;
	color:#fff;
}

.main-menu li a:active{
	text-decoration: none;
	color:#fff;
}
	/*------------------------------- */
	/*------- Responsive Menu ------- */
	/*------------------------------- */

@media screen and (min-width: 768px){
	.menu-responsive-header,
	.header-icon{
		display:none;
	}
}


@media screen and (max-width: 767px){
	.main-menu{
		padding:10px;
		border:0;
		height: 65px;
	}
	.dark-menu{
		height: 65px;
	}
	.header-pull-left{
		float:none;
		text-align: center;
	}
	.header-pull-right{
		display: none;
	}
	.header-icon{
		position: absolute;
		display: block;
		float: left;
		width: 45px;
		height: 45px;
		cursor: pointer;
		background-color:transparent;
		top:15px;
		left:15px;
	}
	.menu-responsive-header{
		position:fixed;
		left:0;
		top:0;
		bottom:0;
		width:280px;
		height: 100vh;
		background-color: #212121;
		-ms-transform: translateX(-280px); /* IE 9 */
	    -webkit-transform: translateX(-280px); /* Chrome, Safari, Opera */
	    transform: translateX(-280px);
	    -webkit-transition-duration: 0.3s; /* Safari */
    	transition-duration: 0.3s;
	}
	.menu-responsive-header a{
		display: block;
		margin-left: -15px;
		font-size: 18px;
		height:40px;
		line-height: 40px;
	}
	.with-sidebar .menu-responsive-header{
		-ms-transform: translateX(0px); /* IE 9 */
	    -webkit-transform: translateX(0px); /* Chrome, Safari, Opera */
	    transform: translateX(0px);
	}
	.with-sidebar .site-hidden{
		position:fixed;
		bottom:0;
		top:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.6);
		overflow: hidden;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		       Search Bar Responsive		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 768px){
	.search-bar-responsive,
	.search-input-responsive,
	.search-button-responsive,
	.search-modal{
		display:none;
	}
}

@media screen and (max-width: 767px){
	.search-bar-background-container{
		display: none;
	}
	.search-bar-responsive-container{
		display: block !important;
		width:320px;
		height:40px;
		margin-right: auto;
		margin-left: auto;
		margin-top:50px;
	}
	.search-bar-responsive-container > * {
	    vertical-align: top;
	    border: 0;
	    margin: 0;
	    padding-top:10px;
	    padding-bottom:10px;
	}
	.search-input-responsive{
		display: inline-block;
		float:left;
		background-color:#fff;
		width:88%;
		height:100%;
		color:#757575;
		text-align: center;
	}
	.search-button-responsive{
		display: inline-block;
		float:right;
		background-color:#cb2b2b;
		color:#fff;
		width:12%;
		height:100%;
		text-align:center;
	}
	.btn-search-responsive{
		color:#fff;
		background-color:#cb2b2b;
		border:1px solid #cb2b2b;
		border-radius:2px;
	}
	.search-modal{
		position:fixed;
		z-index: 501;
		left:0;
		top:0;
		bottom:0;
		width:100%;
		height:100vh;
		background-color: #fff;
		color: #757575;
		-ms-transform: translateY(-767px); /* IE 9 */
	    -webkit-transform: translateY(-767px); /* Chrome, Safari, Opera */
	    transform: translateY(-767px);
	    -webkit-transition-duration: 0.3s; /* Safari */
    	transition-duration: 0.3s;
	}
	.with-search-modal .search-modal{
		-ms-transform: translateZ(0px); /* IE 9 */
	    -webkit-transform: translateY(0px); /* Chrome, Safari, Opera */
	    transform: translateY(0px);
	}
	.search-modal-header{
		background-color:#eeeeee;
		height:50px;
		line-height:50px;
		padding:15px;
		border-bottom:1px solid #e0e0e0;
	}
	.search-modal-title{
		color:#e0e0e0;
		text-align: center;
		font-size:15px;
	}
	.search-form-responsive{
		width:320px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.search-bar-location-responsive{
		border:1px solid #e0e0e0;
		padding:10px;
		width: 320px;
		height: 40px;
		line-height: 40px;
	}
	.search-bar-datetimepicker-responsive{
		width:155px;
		height:40px;
		line-height:40px;
		padding:10px;
		border:1px solid #e0e0e0;
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      Datetimepicker custom		   	   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bootstrap-datetimepicker-widget table thead tr:first-child th.disabled:hover{
	background: none;
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: #f9e6e6;
    color:#cb2b2b;
}

.bootstrap-datetimepicker-widget table td span.active:hover {
	color:#fff;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td span{
	border-radius:2px;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th{
	font-family: 'Latino', sans-serif;
	font-size: 16px;
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover{
	background-color:#fff;
	color:#E0E0E0;
	cursor:default;
}

.dow{
	font-size:14px;
	font-weight:lighter;
	color:#777777;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover,
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover,
.bootstrap-datetimepicker-widget table td.old.disabled{
	color:#E0E0E0;
	cursor:default;
}

.bootstrap-datetimepicker-widget table td.today:before{
	border-bottom-color:#FF6D6D;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td span.active{
	background-color:#FF6D6D;
}

.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active:hover{
	background-color:#ef4646;
}

.bootstrap-datetimepicker-widget table td.new,
.bootstrap-datetimepicker-widget table td.old {
    color:#9e9e9e;
}

.ui-timepicker-wrapper{
	width:14%;
	text-align:center;
}

.ui-timepicker-list li{
	color:#373535;
	font-size:14px;
	font-weight:normal;
}

.ui-timepicker-list li:hover,
.ui-timepicker-list li.ui-timepicker-selected{
	background-color:#FF6D6D;
	color:#fff;
}

.ui-timepicker-list li.now:before{
	color:#E0E0E0;
	cursor:default;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      	Margin & Padding			   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.xs-margin{margin:10px;}
.xs-margin-left{margin-left: 10px;}
.xs-margin-right{margin-right: 10px;}
.xs-margin-top{margin-top: 10px;}
.xs-margin-bottom{margin-bottom: 10px;}

.sm-margin{margin:20px;}
.sm-margin-left{margin-left:20px;}
.sm-margin-right{margin-right:20px;}
.sm-margin-top{margin-top:20px;}
.sm-margin-bottom{margin-bottom:20px;}

.md-margin{margin:50px;}
.md-margin-left{margin-left:50px;}
.md-margin-right{margin-right:50px;}
.md-margin-top{margin-top:50px;}
.md-margin-bottom{margin-bottom:50px;}

.lg-margin{margin:75px;}
.lg-margin-left{margin-left:75px;}
.lg-margin-right{margin-right:75px;}
.lg-margin-top{margin-top:75px;}
.lg-margin-bottom{margin-bottom:75px;}

.xl-margin{margin:100px;}
.xl-margin-left{margin-left:100px;}
.xl-margin-right{margin-right:100px;}
.xl-margin-top{margin-top:100px;}
.xl-margin-bottom{margin-bottom:100px;}

.xs-padding{padding:10px;}
.xs-padding-left{padding-left: 10px;}
.xs-padding-right{padding-right: 10px;}
.xs-padding-top{padding-top: 10px;}
.xs-padding-bottom{padding-bottom: 10px;}

.sm-padding{padding:20px;}
.sm-padding-left{padding-left:20px;}
.sm-padding-right{padding-right:20px;}
.sm-padding-top{padding-top:20px;}
.sm-padding-bottom{padding-bottom:20px;}

.md-padding{padding:50px;}
.md-padding-left{padding-left:50px;}
.md-padding-right{padding-right:50px;}
.md-padding-top{padding-top:50px;}
.md-padding-bottom{padding-bottom:50px;}

.lg-padding{padding:75px;}
.lg-padding-left{padding-left:75px;}
.lg-padding-right{padding-right:75px;}
.lg-padding-top{padding-top:75px;}
.lg-padding-bottom{padding-bottom:75px;}

.xl-padding{padding:100px;}
.xl-padding-left{padding-left:100px;}
.xl-padding-right{padding-right:100px;}
.xl-padding-top{padding-top:100px;}
.xl-padding-bottom{padding-bottom:100px;}

.no-margin{margin:0 !important;}
.no-padding{padding:0 !important;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      		Footer 	 				   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container-footer-responsive{
	width:1045px;
	margin-left: auto;
	margin-right: auto;
}

.container-footer-responsive h2{
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
}

.container-footer-responsive li a{
	font-weight: 300;
	text-decoration: none;
	color:#f5f5f5;
}

.container-footer-responsive li a:hover{
	text-decoration: none;
	color:#959595;
}

.footer-col	{
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

.divider-footer{
	width:1045px;
	border-color:#8e8e8e;
	margin: 50px 0;
}

.list-layout-footer{
	list-style: none;
	padding-left: 0;
}

.footer-menu-social{
	width:300px;
	list-style:none;
	margin:30px auto;
	padding:0;
}

.footer-menu-social li{
	display:inline;
	padding:0 5px;
}

.footer-menu-social li a{
	display:inline-block;
	text-decoration:none;
	text-align:center;
}

.footer-menu-social .fa{
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	color: #f5f5f5;
	background-color:transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius:50%;
	border:1px solid #959595;
}

.footer-menu-social .fa:hover{
	color:#959595;
}
.copywright-footer{
	font-weight: normal;
	color:#959595;
	margin-bottom: 50px;
}

@media screen and (max-width: 767px){
	.container-footer-responsive,
	.divider-footer{
		width:320px;
	}
	.footer-col	{
		width:250px;
		float:left;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.container-footer-responsive,
	.divider-footer{
		width:750px;
	}
}
