.booked-field{
	background-color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid #BDBDBD;
}

.date-box{
	width:70px;
	height:70px;
	border:2px solid #616161;
	border-radius:5px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	cursor:default;
	margin-top:10px;
}

.date-month{
	text-transform:uppercase;
	color:#cb2b2b;
	margin-top:5px;
	height:1.5em;
	line-height:1.5em;
}

.date-day{
	font-weight:bold;
	color:#424242;
	font-size:30px;
	height:1.2em;
	line-height:1.2em;
}

.time-box{
	height:73px;
	line-height:73px;
	text-align:center;
	cursor:default;
	margin-top:10px;
}

.match-time-icon{
	display:inline-block;
	width:45px;
	height:45px;
}

.match-time{
	display:inline-block;
	color:#424242;
	font-size:16px;
	margin-left:5px;
}

.field-match-name{
	color:#424242;
	font-weight:bold;
	font-size:18px;
}

.field-match-adress{
	color:#616161;
	font-size:14px;
}

.btn-light-white{
	color:#424242;
	border:1px solid #424242;
	border-radius:2px;
	background-color:#fff!important;
	padding:5px 35px;
}

.btn-light-white:hover{
	background-color:#f7f7f7!important;
}

.modal-header{
	border-radius:0!important;
	background-color:#EEEEEE;
	border-bottom:1px solid #BDBDBD!important;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.modal-body{
	border-radius:0!important;
	background-color:#fff;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.modal h2{
	font-size:20px;
	font-weight:bold;
	color:#424242;
}

.field-logo{
	width:75px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.field-type-icon{
	line-height:26px;
	height:26px;
}

.light-grey{
	color:#9E9E9E;
}

.normal-grey{
	color:#616161;
}

.dark-grey{
	color:#424242;
}

.modal .fa-phone,
.modal .fa-envelope-o,
.modal .fa-map-marker{
	height:1.4em;
	line-height:1.4em;
}

.match-description{
	background-color:#f5f5f5;
	padding-top:40px;
	padding-bottom:40px;
}

.nav-tabs{
	border-bottom:0!important;
}

.side-nav{
	margin-top:0;
	padding-left:0;
    list-style: none;
}

.side-nav li a{
	color:#616161;
	text-decoration:none;
	font-size:16px;
}

.side-nav > li > a{
	border:0 !important;
	background-color:#f5f5f5 !important;
	border:none !important;
	cursor:pointer !important;
	margin-left:0!important;
}

.side-nav > li > a:hover{
	color:#959595;
	text-decoration:none;
	background-color:#f5f5f5 !important;
	border:0 !important;
}

.side-nav .active{
	font-weight:bold;
	color:#424242;
	text-decoration:none;
}

.tab-pane:after {
    content: '';
    clear: both;
    display:table;
}

.divider-box-match{
	margin:0;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border:1px dashed #BDBDBD;
}

.thumbnail-player{
	padding:5px;
	text-align:center;
	height:150px;
}

.player-picture{
	width:90px !important;
	height:90px !important;
	border-radius:50%;
	border:2px solid #373535;
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.add-player{
	background-color:#fff !important;
	border:2px solid #616161 !important;
}

.player-empty{
	background-color:#fff !important;
	border:2px dashed #e0e0e0 !important;
}

.fa-check-circle{
	color:#4CAF50;
	position:absolute;
	margin-top:-25px;
	margin-left:28px;
}

.add-player .fa-user{
	color:#959595;
	position:absolute;
	margin-top:-19px;
	margin-left:-17px;
}

.player-empty .fa-user{
	color:#e0e0e0 !important;
	line-height:90px;
}

.fa-plus-circle{
	color:#cb2b2b;
	position:absolute;
	margin-top:20px;
	margin-left:28px;
}

.player-name{
	color:#212121;
	display:block;
	margin-top:10px;
	font-size:14px;
}

.player-name-empty{
	color:#e0e0e0;
	display:block;
	margin-top:10px;
	font-size:14px;
}

.guest-number-box{
	text-align:center;
}

.guest-number{
	color:#424242;
	font-weight:bold;
	font-size:22px;
}

.guest-subtitle{
	color:#959595;
	font-size:16px;
}

.box-configuration{
	background-color:#fff;
	color:#616161;
	border:1px solid #BDBDBD;
	padding:20px;
	text-align:left;
}

.box-configuration .fa-cog,
.box-configuration .fa-times {
	color:#ef4646;
}

.name-field-configuration{
	color:#424242;
	font-weight:bold;
	margin-top:5px;
}

.date-field-configuration{
	font-size:16px;
	font-weight:bold;
}

.timeline-bar{
	height:20px;
}

.timeline-bar-refundable{
	background-color:#66BB6A;
}
.timeline-bar-semirefundable{
	background-color:#FFCA28;
}
.timeline-bar-norefundable{
	background-color:#ef4646;
}

.timeline-bar-circle{
	margin-top:4px;
	height:12px;
	width:12px;
	line-height:14px;
	border-radius:50%;
	background-color:#fff;
	margin-left:90%;
}

.timeline-bar-tooltip {
	position: absolute;
	background: #fff;
	border: 1px solid #9E9E9E;
	border-radius:2px;
	padding:10px;
	margin-top:-60px;
	margin-left:50%;
}
.timeline-bar-tooltip:after, .timeline-bar-tooltip:before {
	top: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-bar-tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.timeline-bar-tooltip:before {
	border-color: rgba(97, 97, 97, 0);
	border-top-color: #9E9E9E;
	border-width: 11px;
	margin-left: -11px;
}

.float-right{float:right!important;}

.float-left{float:left!important;}

.text-right{text-align:right;}

.dark-grey{
	color:#424242;
}

.red{
	color:#ef4646;
}

.btn-save-configuration{
	color:#fff;
	background-color:#cb2b2b;
	border:0;
	border-radius:0 2px 2px 0;
	padding:10px 30px;
}

.btn-save-configuration:hover{
	color:#fff;
	background-color:#ef4646;
	border:0;
	text-decoration:none;
}

.btn-send-message{
	padding:5px 15px;
}

/* Responsive */

@media screen and (max-width: 767px){
	.field-match-box{
		margin-top:20px!important;
	}
	.match-description{
		padding-top:10px;
	}
	.date-box,
	.time-box{
		margin-top:0px;
	}
	.box-match-description-header{
		display:none;
	}
	.box-match-description-body{
		padding:0 20px 10px 20px;
	}
	.thumbnail-player{
		margin-top:20px;
	}
	.sm-margin-top-responsive{
		margin-top:20px;
	}
}