// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      	Welcome Screen				   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#welcome-homepage{
	background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
	height: 80vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

#welcome-homepage h1{
	color:#fff;
	margin-top: 25vh;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size:48px;
}

@media screen and (max-width: 767px){
	#welcome-homepage h1{
		font-size: 32px;
	}
}

.subtitle-homepage{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color:#fff;
}

.search-bar-background-container{
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	bottom:0;
	width:100%;
}

.search-bar-background{
	padding:30px 0;
	margin:0 auto;
	text-align:center;
}

.search-bar{
	display:inline-block;
	overflow:hidden;
    width:70%;
    height:44px;
	margin:0;
}

.search-bar> * {
    border:0;
    margin:0;
}

.search-bar> ::-moz-focus-inner {
    border:0;
}

.search-label{
	width:40%;
	height:100%;
	float:left;
}

.search-bar-location{
	display:inline-block;
	width:100%;
    height:100%;
	border:0;
    border-radius:2px 0 0 2px;
	padding:0 10px;
}

.date-label,
.time-label{
	width:20%;
	height:100%;
	float:left;
}

.search-bar-datepicker,
.search-bar-timepicker{
	display:inline-block;
	width:100%;
    height:100%;
	border:0;
    border-radius:0;
	border-left:1px solid #373535;
	padding:0 10px;
	cursor:default;
}

.btn-search{
	display:inline-block;
	width:20%;
	height:100%;
	color:#fff;
	background-color:#cb2b2b;
	border:0;
	border-radius:0 2px 2px 0;
	text-align:center;
}

.btn-search[type = "submit"]:hover {
	color:#fff;
	background-color:#ef4646;
	border:0;
	text-decoration:none;
}

.btn-search[type = "submit"]:active,
.btn-search[type = "submit"]:focus{
	color:#fff;
	background-color:#ef4646;
	border:0;
	text-decoration:none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		      	Fields Screen				   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#field-available{
	background-color: #F5F5F5;
}

#field-available h2{
	margin-top: 7.5vmin;
	text-align: center;
}