// Place all the styles related to the terrains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid{
	padding:0;
}

.summary-field-section{
	left:0;
	right:0;
	background-color:#fff;
	color:#616161;
	border-bottom:1px solid #BDBDBD;
}

.summary-field-section h2{
	margin-top:-5px;
	font-size:20px;
	color:#424242;
}

.field-logo{
	width:75px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

.field-type-icon{
	line-height:26px;
	height:26px;
}

.book-box{
	background-color:#fff;
	color:#616161;
	border:1px solid #BDBDBD;
	width:320px;
	padding:30px 20px;
	position:absolute;
	z-index:1000;
	text-align:center;
}

.fixed {
	position:fixed !important;
	top:0 !important;
}

.book-box h3{
	color:#424242;
}

.btn-book{
	color:#fff;
	background-color:#cb2b2b;
	border:1px solid #cb2b2b;
	border-radius:2px;
	height:44px;
}

.fa-bolt{
	color:#FFEB3B;
}

.btn-book:hover,
.btn-book:focus,
.btn-book:active{
	color:#fff;
	background-color:#ef4646;
	border:1px solid #ef4646;
}

.booking-input, .book-box-select-field{
	border:1px solid #BDBDBD;
	border-radius:2px;
	height:44px;
	width:100%;
}

.book-box-datepicker, .book-box-timepicker{
	width:100%;
	height:100%;
	border:0;
	padding:0 10px;
}

.book-box-select-field{
	color:#616161;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    padding:0 10px;
}

.select-field{
	width:100%;
	position:relative;
	color:#616161;
	outline:none;
}

.select-field:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color: #616161;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none; 
}

.field-description{
	background-color:#f5f5f5;
}

.field-description h3{
	font-weight:bold;
	font-size:20px;
	color:#424242;
}

.field-description span{
	font-size:14px;
}

.light-grey{
	color:#9E9E9E;
}

.normal-grey{
	color:#616161;
}

.dark-grey{
	color:#424242;
}

.field-description p{
	color:#616161;
}

.row-condensed{
	margin:0 !important;
}

.img-thumbnail-field-main, .img-thumbnail-field{
	width:100%;
	border:1px solid transparent;
}

.no-border-top{
	border-top:0 !important;
}

.divider-field-section{
	width:100%;
	border-color:#BDBDBD;
	margin:20px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 		       Booking Box Responsive		   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 768px){
	.booking-modal, .booking-bar-responsive-container, .booking-bar-responsive{
		display:none;
	}
}

@media screen and (max-width: 767px){
	.summary-field-section h2{
		text-align: center;
		margin-top: 10px;
	}
	.summary-field-section p{
		text-align: center;
	}
	.book-box{
		display:none;
	}
	.menu-a-supprimer{
		height:65px;
	}
	.field-type-icon{
		margin-bottom:5px;
	}
	.booking-bar-responsive-container{
		position:fixed;
		height:40px;
		left:20px;
		right:20px;
		margin-top:220px;
		z-index:499;
	}
	.booking-bar-responsive-container > * {
	    vertical-align:top;
	    border:0;
	    margin:0;
	    padding-top:10px;
	    padding-bottom:10px;
	}
	.booking-bar-responsive{
		background-color:#cb2b2b;
		width:100%;
		height:100%;
		color:#fff;
		text-align: center;
	}
	.img-thumbnail-field{
		display:none;
	}
	.booking-modal{
		position:fixed;
		z-index: 501;
		left:0;
		top:0;
		bottom:0;
		width:100%;
		height:100vh;
		background-color: #fff;
		color: #757575;
		-ms-transform: translateY(-767px); /* IE 9 */
	    -webkit-transform: translateY(-767px); /* Chrome, Safari, Opera */
	    transform: translateY(-767px);
	    -webkit-transition-duration: 0.3s; /* Safari */
    	transition-duration: 0.3s;
	}
	.with-booking-modal .booking-modal{
		-ms-transform: translateZ(0px); /* IE 9 */
	    -webkit-transform: translateY(0px); /* Chrome, Safari, Opera */
	    transform: translateY(0px);
	}
	.booking-modal-header{
		background-color:#eeeeee;
		height:50px;
		line-height:50px;
		padding:15px;
		border-bottom:1px solid #e0e0e0;
	}
	.booking-modal-header{
		background-color:#eeeeee;
		height:50px;
		line-height:50px;
		padding:15px;
		border-bottom:1px solid #e0e0e0;
	}
	.booking-modal-title{
		color:#e0e0e0;
		text-align: center;
		font-size:15px;
	}
	.booking-form-responsive{
		width:320px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.btn-booking-responsive{
		color:#fff;
		background-color:#cb2b2b;
		border:1px solid #cb2b2b;
		border-radius:2px;
	}
}