<%= form_for @category, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if params[:center_id].present? %>
  <% @category.center_id = params[:center_id] %>
  <% end %>
  <div class="field">
    <%= f.label :center_id %></br>
    <%= f.collection_select(:center_id, @centers, :id, :name, :include_blank => "Choisir un centre") %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <% unless @category.picture.nil? %>
  <div> <%= link_to image_tag(@category.picture.image.url(:medium)), @category.picture  %> </div>
  <%end%>
  <div class="form-group">
    <%= f.label :picture %>
    <%= file_field_tag "image", type: :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
