<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Centre:</strong>
  <%= @category.center.name %>
</p>

<% unless @category.picture.nil? %>
<p>
  <strong>Picture:</strong>
  <%= link_to image_tag(@category.picture.image.url(:medium)), @category.picture  %>
</p>

<%end%>

<table>
	<thead>
    <strong>Liste des taux horaires</strong>
	<tr>
		<th>Jour</th>
		<th>De</th>
		<th>Jusqu'à</th>
		<th>Prix à l'heure</th>
		<th>Edit</th>
	</tr>
	</thead>
	<tbody>
	<% @category.rates.each do |rate| %>
<tr>
	<td><%= rate.day %></td>
	<td><%= rate.start.strftime("%H:%M") %></td>
	<td><%= rate.end.strftime("%H:%M") %></td>
	<td><%= rate.hourly_rate %></td>
	<td><%= link_to "Modifier", edit_rate_path(rate.id) %>	</td>
</tr>
	<%end%>
</tbody>
<table>

<p>
  <%= link_to 'Ajouter un Rate', new_rate_path(category_id: @category.id) %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
