<%= simple_form_for(@field) do |f| %>
  <%= f.error_notification %>




  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :status %>
  </div>

<% #if it's a new field, choose a center, if you edit the field, choose a category %>
<% if @field.new_record? %>
  <% if params[:center_id].present? %>
    <% @field.center_id = params[:center_id] %>
  <% end %>
  <div class="field">
    <%= f.label :center_id %></br>
    <%= f.collection_select(:center_id, @centers, :id, :name, :include_blank => "Choisir un centre") %>
  </div>
<%else%>
  <div class="field">
    <%= f.label :category %></br>
    <%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Choisir une categorie") %>
  </div>
<%end%>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
