	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @field.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @field.description %>
	</p>

	<p>
	  <strong>Status:</strong>
	  <%= @field.status %>
	</p>

	<p>
		<strong>Centre:</strong>
		<%= @field.center.name %>
	</p>

	<p>
		<% if @field.category.nil? %>
		<%= link_to 'Choisir une categorie', edit_field_path(@field) %>
		<% else %>
		<strong>Categorie:</strong>
		<%= @field.category.name %>
		<% end %>
	</p>

<table>
	<thead>
	<tr>
		<th>Jour</th>
		<th>Ouverture</th>
		<th>Fermeture</th>
		<th>Ouvert</th>
		<th>Edit</th>
	</tr>
	</thead>
	<tbody>
	<% @field.business_hours.each do |bh| %>
<tr>
	<td><%= bh.day %></td>
	<td><%= bh.start.strftime("%H:%M") %></td>
	<td><%= bh.end.strftime("%H:%M") %></td>
	<td><%= bh.open.to_s %></td>
	<td><%= link_to "Modifier", edit_business_hour_path(bh.id) %>	</td>
</tr>
	<%end%>
</tbody>
<table>
<p>	<%= link_to 'Créer business hour', new_business_hour_path(bh_id: @field.id, bh_type: @field.class.name) %></p>



	<%= link_to 'Edit', edit_field_path(@field) %> |
	<%= link_to 'Back', fields_path %>
