<%= simple_form_for(@rate) do |f| %>
  <%= f.error_notification %>

  <% if params[:category_id].present? %>
  <% @rate.category_id  = params[:category_id]%>
  <%end%>

  <div class="form-inputs">
    <%= f.input :category_id %>
    <%= f.input :day %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :hourly_rate %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
