<p id="notice"><%= notice %></p>

<h1>Listing Rates</h1>

<table>
  <thead>
    <tr>
      <th>Center</th>
      <th>Category</th>
      <th>Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Hourly rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.category.center.name %></td>
        <td><%= rate.category.name %></td>
        <td><%= rate.day %></td>
        <td><%= rate.start.strftime("%H:%M ") %></td>
        <td><%= rate.end.strftime("%H:%M ") %></td>
        <td><%= rate.hourly_rate %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_rate_path %>
