<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @rate.category_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @rate.day %>
</p>

<p>
  <strong>Start:</strong>
  <%= @rate.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @rate.end %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @rate.hourly_rate %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
