<footer class="container-fluid">
	<div class="container-footer-responsive">
		<div class="row row-condensed">
			<div class="col-sm-4">
				<div class="footer-col">	
					<h2>Société</h2>
					<ul class="list-layout-footer">
						<li><%= link_to 'Accueil', root_path %></li>
						<li><%= link_to 'Centre', centers_path %></li>
				        <li><%= link_to 'Terrains', fields_path %></li>
				        <li><%= link_to 'Nouveau match', new_game_path %></li>
				        <li><%= link_to 'Mes matchs', games_path %></li>
				        <li><%= link_to 'A propos', home_about_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-col">
					<h2>Découvrir</h2>
					<ul class="list-layout-footer">
						<li><%= link_to 'Accueil', root_path %></li>
				        <li><%= link_to 'Terrains', fields_path %></li>
				        <li><%= link_to 'Nouveau match', new_game_path %></li>
				        <li><%= link_to 'Mes matchs', games_path %></li>
				        <li><%= link_to 'A propos', home_about_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-col">
					<h2>Partenaires</h2>
					<ul class="list-layout-footer">
						<li><%= link_to 'Accueil', root_path %></li>
				        <li><%= link_to 'Terrains', fields_path %></li>
				        <li><%= link_to 'Nouveau match', new_game_path %></li>
				        <li><%= link_to 'Mes matchs', games_path %></li>
				        <li><%= link_to 'A propos', home_about_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="divider-footer" />
		<div class="text-center">	
			<h2>Rejoins-nous sur</h2>
			<ul class="footer-menu-social">
				<li><a href="https://www.facebook.com/levestiaire.co" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/LeVestiaireFR" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCDZ1a1Af6g5GsTMS3fIqjlQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
			</ul>
			<p class="copywright-footer">&copy; 2015 LeVestiaire &middot; Tous droits réservés</p>
		</div>
	</div>
</footer>