<header class="main-menu">
    <%= link_to image_tag("flat-icon/menu-burger.png"), "#", class:"header-icon", id:"header-icon" %>
    <div class="header-pull-left">
        <%= link_to image_tag("logo.png"), root_path %>        
    </div>
    <ul class="header-pull-right">
        <% if user_signed_in? %>
            <li><%= link_to 'Mon profil', edit_user_registration_path %></li>
            <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Se connecter", new_user_session_path %></li>
            <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <% end %>
    </ul>
    <ul class="menu-responsive-header">
        <li><%= link_to 'Accueil', root_path, class:"sm-margin-top" %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Mon profil', edit_user_registration_path %></li>
            <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Se connecter", new_user_session_path %></li>
            <li><%= link_to "S'inscrire", new_user_registration_path %></li>
        <% end %>
    </ul>
</header>


