<!DOCTYPE html>
<html>
<head>
  <title>LeVestiaire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%# facebook JavaScript SDK %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>



  <% if current_page?(root_path) %>
      <%= render 'layouts/home_header' %>
  <% else %>
      <%= render 'layouts/header' %>
  <% end %>

  	<%flash.each do |name, msg| %>
  		<%= content_tag(:div,msg,class:"alert alert-info") %>
  	<%end%>
	
	<%= yield %>

	<div class="site-hidden" id="site-hidden">
	</div>

	<%= render 'layouts/footer' %>
</body>
</html>
